@model RealEstateManagementSystem.Models.Client

<h2>Add New Client</h2>

<form method="post">
    <div>
        <label>Full Name:</label>
        <input asp-for="FullName" required />
    </div>
    <br />
    <div>
        <label>Phone:</label>
        <input asp-for="PhoneNumber" required />
    </div>
    <br />
    <div>
        <label>Email:</label>
        <input asp-for="Email" required />
    </div>
    <br />
    <div>
        <label>Address:</label>
        <input asp-for="Address" required />
    </div>
    <br />
    <button type="submit">Save Client</button>
</form>
